<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title></title>
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">

    <!-- <%- style %> -->
    
</head>
<body>
    <!-- adding header -->
    <%- include('_header'); -%>

    <!-- adding variable content -->
    <%- (body);-%>

    <!-- adding footer -->
    <%- include('_footer'); -%>
    <!-- <%- script %> -->
</body>
</html>